---

export interface Props {
	aboutme: string;
    experience: string;
    education: string;
    skills: string;
    certificacion: string;
    recommendations: string;
    blog: string;
    sayHello: string;
}

const { aboutme } = Astro.props;
const { experience } = Astro.props;
const { education } = Astro.props;
const { skills } = Astro.props;
const { certificacion } = Astro.props;
const { recommendations } = Astro.props;
const { sayHello } = Astro.props;
const { blog } = Astro.props;

---


<header id="header" class="header-floating-icons" data-plugin-options="{'stickyEnabled': false, 'stickyEnableOnBoxed': false, 'stickyEnableOnMobile': false, 'stickyStartAt': 0, 'stickySetTop': '60px', 'stickyChangeLogo': false}">
    <div class="header-body bg-transparent">
        <div class="header-container container">
            <div class="header-row">
                <div class="header-column">
                    <div class="header-row">
                        <div class="header-nav pt-1">
                            <div class="header-nav-main">
                                <nav class="wrapper-spy collapse">
                                    <ul class="nav" id="mainNav">
                                        <li>
                                            <a data-hash href="#about-me" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-home icons"></i>
                                                <span class="custom-tooltip text-color-dark">{aboutme}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#experience" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-eye icons"></i>
                                                <span class="custom-tooltip text-color-dark">{experience}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#education" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-briefcase icons"></i>
                                                <span class="custom-tooltip text-color-dark">{education}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#skills" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-graduation icons"></i>
                                                <span class="custom-tooltip text-color-dark">{skills}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#portfolio" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-diamond icons"></i>
                                                <span class="custom-tooltip text-color-dark">{certificacion}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash data-hash-offset="0" data-hash-offset-lg="100" href="#recommendations" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-pencil icons"></i>
                                                <span class="custom-tooltip text-color-dark">{recommendations}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#blog" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-bubbles icons"></i>
                                                <span class="custom-tooltip text-color-dark">{blog}</span>
                                            </a>
                                        </li>
                                        <li>
                                            <a data-hash href="#say-hello" class="nav-link text-color-dark bg-color-primary">
                                                <i class="icon-envelope-open icons"></i>
                                                <span class="custom-tooltip text-color-dark">{sayHello}</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <button class="btn header-btn-collapse-nav text-color-light border-radius-0" data-bs-toggle="collapse" data-bs-target=".header-nav-main nav">
                                <i class="fas fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>